@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

//_autoslider

@keyframes scroll {
  0%{
      transform: translateX(0);
  }
  100%{
      transform: translateX(-280px * 5);
  }
}

@keyframes move{
  to{
    transform: translate(calc(-50% - 1.5em))
  }
}