@keyframes gradient-animation-text {
    0%{
        color: $dark-bg;
    }
    50%{
        color: $accent-color;
        text-shadow: #fdad5d 1px 0 10px;
    }
    100%{
        color: $dark-bg;
    }
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

@keyframes scroll {
  0%{
      transform: translateX(0);
  }
  100%{
      transform: translateX(-280px * 5);
  }
}


@media (min-width: 1024px) {
  @keyframes scroll {
      0%{
          transform: translateX(0);
      }
      100%{
          transform: translateX(-600px * 5);
      }
  }
  
}