main{
    background: linear-gradient(300deg, #4f9da6, #355576, $dark-bg, $dark-bg, $accent-color, $accent-color);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}