#projects-content{
    padding:1.5rem;
    padding-top: 4rem ;
    color:rgb(196, 196, 196)
}

#projects-content h2{
    color: $accent-color;
    @include widthAndPosition;
    font-size: clamp(1.5rem, 1.2288rem + 1.3559vw, 2.5rem);
    animation: gradient-animation-text 18s ease infinite; 
}