#projects-content{
    @include widthAndPosition;
    height: 100vh;
    padding:1.5rem;
    padding-top: 6.5rem ;
}

#projects-content h2{
    color: $accent-color;
    
    font-size: clamp(1.5rem, 1.2288rem + 1.3559vw, 2.5rem);

    animation: gradient-animation-text 18s ease infinite; 
}