$max-width: 1500px;
$primary-color: #355576;
$accent-color: #ffad5a;
$dark-bg: #1a0841;
$shadow-color: #35567619;
$all-text-color:rgb(179, 179, 179);
$width100: 100%;

@mixin blurBackground{
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 
        0 0 10px 1px rgba(0, 0, 0, 0.25),
        inset 0 0 10px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            45deg,
            transparent,
            rgba(255, 255, 255, 0.03)
        );
        pointer-events: none;
    }
}

@mixin width100{
    width: $width100;
}

@mixin widthAndPosition{
    margin: 0 auto; 
    width: min($width100, $max-width);
}