.slider-visualization{
    @include width100;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    @media (min-width: 1024px) {
        margin-top: .7rem;
    }
}

.slider-vs-container{
    border: 1px solid $primary-color;
    border-radius: 20px;
    display: flex;
    position: relative;
    
    @include blurBackground;

    & input{
        z-index: 2;
        position: absolute;
        height: 100%;
        width: 50%;
        opacity: 0;
        border-radius: 20px;
        font-size: .85rem;
        cursor: pointer;
    }

    & input#carousel{
        left: 0;
    }

    & input#gallery{
        right: 0;
    }

    & label{
        font-size: .8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        z-index: 2;
        padding: 8px 16px;
        width: 80px;
    }

    & #selected {
        position: absolute;
        width: 80px;
        height: 100%;
        background-color: #f2f2f20d;
        border-radius: 20px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        transition: all .35s ease-in-out;
    };

    & input#carousel:checked ~ #selected{
        transform: translateX(0);
    }

    & input#gallery:checked ~ #selected{
        transform: translateX(100%);
    }

}

.infinite-carousel{
    overflow: hidden;
}

.infinite-carousel > div {
    width: max-content;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
}



#home-carousel .infinite-carousel{
    width: 250px;
    margin: 2rem auto;
    
    @media (orientation: landscape) and (max-height: 700px) {
        margin: .5rem auto 1rem auto;
    }
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        #fff 30%, 
        #fff 80%,
        transparent
    );

    mask: linear-gradient(
        90deg,
        transparent,
        #fff 30%, 
        #fff 80%,
        transparent
    );
}

#project-carousel .infinite-carousel{
    margin: 2rem 0 0 0;

    & > div{
        height: calc((100vh - ( 148.797px + 68px + 32px))/2.25);
        @media (orientation: landscape) and (max-height: 700px) {
            height: auto;
        };
    }


}


#home-carousel .infinite-carousel > div{
    gap: 2.75rem;
}

#project-carousel .infinite-carousel > div{
    gap: 1rem;
}

.slide{
    height: 100%;
    @media (orientation: landscape) and (max-height: 700px) {
        height: auto;
        width: 300px;
    }
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 20px; 
    & img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    &:active{
        border: 2px solid $accent-color;
    }
    
}

.dark-overlay{
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    border-radius: 20px
}