.svgIcon{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.svgIconSocial{
    @extend .svgIcon;
    color: white;
}

.svgIconLeftHomeSlider{
    margin-left: 37px; 
}

.svgIconLeftModal:not(:first-of-type){
    margin-left: 1.5rem;
}

.container-svg-tech{
    margin-top: .5rem
}

.svgIconLeftHomeCard{
    margin-left: 20px;
}
